<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Welcome to {{ title }}!</span>
</mat-toolbar>

<mat-card>
  <mat-tab-group>
    <mat-tab label="Random">
      <h1>Random Clues</h1>
      <app-clues-by-random></app-clues-by-random>
    </mat-tab>
    <mat-tab label="Category">
      <h1>Search by Clue Category</h1>
      <app-clues-by-category></app-clues-by-category>
    </mat-tab>
    <mat-tab label="Air Date">
      <h1>Search by Air Date</h1>
      <app-clues-by-date></app-clues-by-date>
    </mat-tab>
  </mat-tab-group>
</mat-card>
